COMPOSE_PROJECT_NAME=bip300-ecash-drynet3
ECASH_DATA_ROOT=./data
PUID=1000
PGID=1000
ENFORCER_RUST_LOG=info
ENFORCER_SYNC_WAIT_SECONDS=300
SNAPSHOT_HEADER_WAIT_SECONDS=1800
BIP300_MONITOR_SIDECHAINS=9,98
BIP300_MONITOR_LOG_LEVEL=info
BIP300_MONITOR_FULL_EVENTS=true
MONITOR_STARTUP_WAIT_SECONDS=60
MONITOR_EVENT_WAIT_SECONDS=60
LIVE_BLOCK_WAIT_SECONDS=3600
LIVE_EVENT_WAIT_SECONDS=60
